@page
@model IndexModel
@{
    ViewData["Title"] = "Добро пожаловать!";
}

<div class="text-center">
    <h1 class="display-4">Салам</h1>
    <p>Кликни сюда <a href="https://ya.ru/">building Web apps with ASP.NET Core</a>.</p>
</div>
